body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  #textarea-generated
  {
    height: 800px !important;
  }
  
  #textarea-load
  {
    height: 400px !important;
  }